{% extends 'base.html' %}

{% load static %}

{% block content %}

	<div class="container my-5">
        {% if produtos %}
            <div class="row">
                {% for produto in produtos %}
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="{{ produto.get_absolute_path }}"><img class="pic-1" src="{{ produto.imagem.url }}"></a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="{{ produto.get_absolute_path }}">{{ produto.nome }}</a></h3>
                                <div class="price">$ {{ produto.preco }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class='row' style='font-size: 14px;'>
             <div class='col-12'>
                {% if produtos.has_other_pages %}
                   <ul class='pagination'>
                      {% if produtos.has_previous %}
                         <li class='page-item'><a class='page-link' href='?pagina={{ produtos.previous_page_number }}&busca_por={{ busca_por }}'>Anterior</a></li>
                      {% else %}
                         <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
                      {% endif %}
                      {% for i in produtos.paginator.page_range %}
                         {% if produtos.number == i %}
                            <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                         {% else %}
                            <li class='page-item'><a class='page-link' href='?pagina={{ i }}&busca_por={{ busca_por }}'>{{ i }}</a></li>
                         {% endif %}
                      {% endfor %}
                      {% if produtos.has_next %}
                         <li class='page-item'><a class='page-link' href='?pagina={{ produtos.next_page_number }}&busca_por={{ busca_por }}'>Próxima</a></li>
                      {% else %}
                         <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
                      {% endif %}
                   </ul>
                {% endif %}
             </div>
          </div>
        {% else %}
            <h2>Nenhum produto encontrado.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        {% endif %}

    </div>

{% endblock %}